doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='content-language', content='ja')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='format-detection', content='telephone=no,address=no,email=no')
    meta(name='description', content='岐阜県羽島市で日本刀制作をしています。海外での公開鍛錬やワークショップ等国内外で活躍。日本の匠として新たな試みをしています')
    meta(name='keywords', content='日本,刀,ナイフ,伝統,鍛冶,日本の匠,Japanise')
    meta(property='og:title', content="#{contentName} | #{title}")
    meta(property='og:description', content='岐阜県羽島市で日本刀制作をしています。海外での公開鍛錬やワークショップ等国内外で活躍。日本の匠として新たな試みをしています')
    meta(property='og:url', content="http://asanokajiya.com/#{contentPath}")
    meta(property='og:image', content='http://asanokajiya.com/images/box2.jpg')
    meta(property='og:type', content='article')
    meta(name='twitter:title', content="#{contentName} | #{title}")
    meta(name='twitter:description', content='岐阜県羽島市で日本刀制作をしています。海外での公開鍛錬やワークショップ等国内外で活躍。日本の匠として新たな試みをしています')
    meta(name='twitter:image', content='http://asanokajiya.com/images/box2.jpg')
    title "#{contentName} | #{title}"
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/min/app.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-96047092-1', 'auto');
      ga('send', 'pageview');
  body
    #main-contents
      .heroParent(class="#{contentPath}Parent")
        #mobileHead
          a(href="/")
            img.detail-logo(src="images/logo_y.svg")
          .btn_hamburger
            a(href='#')
              span
              span
              span
          #dMenu.detailMenu
            ul.detail-nav
              li
                a(href="/katana") 刀 katana
              span.separator  |
              li
                a(href="/samurai_knife") 侍 samurai knife
              span.separator  |
              li
                a(href="/workshop") 伝 workshop
              span.separator  |
              li
                a(href="/about") 匠 about
              span.separator  |
              li
                a(href="/#contact") 問 contact
        h2.parallaxMenu.katanaMenu= contentName
      .spacer.s2
        .desc
          h2= descH2
          p!= descP
      block content
      #foot.s2
        img.logo_y(src="images/logo_y.svg")
        img.logo_y(src="images/logo_jp.svg")
        .sns
          a.snsLink(href="https://www.facebook.com/taroasanokajiya/", target="_blank")
            i.fa.fa-facebook-square
          a.snsLink(href="https://www.instagram.com/asanokajiya/", target="_blank")
            i.fa.fa-instagram
